/* variaveis*/
:root {
    --primary-color: #ff0000;
    --secondary-color: #000;
    --link-color: #AAA;
    --background-color: #141414;
    --text-color: #fff;
    --button-color: rgba(0, 0, 0, 0.5);
    --border-radius: 5px;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --max-width: 1170px;
    --fixed-width: 620px;
    --small-width: 500px;
    --big-width: 800px;
    --light: 300;
    --bold: 700;
    --font: 'Roboto', sans-serif;
}
/* RESET - css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo Body*/
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-left: 20px;
}

header .logo {
    font-size: 1.5rem;
    font-weight: var(--bold);
    color: var(--primary-color);
    font-size: 40px;
}

header nav a {
    color: var(--link-color);
    text-decoration: none;
    padding: 0 10px;
}

header nav a:hover {
    color: var(--text-color);
}

/* FILME PRINCIPAL*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
                                rgba(0, 0, 0, 0.7)),
                                url(../img/filme-principal.jpg);
                            
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container {
    width: 70%;
}

.filme-principal .titulo {
    font-size: 2rem;
    font-weight: var(--bold);
    margin-bottom: 20px;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.filme-principal .botao {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 15px 30px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.filme-principal .botao i {
    margin-right: 10px;
}

.filme-principal .botao:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
    font-weight: var(--bold);
}

.botao i {
    margin-right: 8px;
}